<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
    <Properties>
        <Property name="LOG_FORMAT">%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}} %highlight{${LOG_LEVEL_PATTERN:-%5p}}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=green, DEBUG=Magenta, TRACE=blue} %style{${sys:PID}}{White} [%15.15t] %style{%-40.40C{1.}}{cyan} : %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}</Property>
        <Property name="BASE_DIR">/home/ec2-user/action/log</Property>
    </Properties>

    <Appenders>

        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_FORMAT}"/>
        </Console>

        <RollingFile name="RollingFile-Info" fileName="${BASE_DIR}/info.log"
                     filePattern="${BASE_DIR}/rolling/info-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${LOG_FORMAT}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB" />
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="rolling" maxDepth="1">
                    <IfLastModified age="7d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="RollingFile-Error" fileName="${BASE_DIR}/error.log"
                     filePattern="${BASE_DIR}/rolling/error-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${LOG_FORMAT}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB" />
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="rolling" maxDepth="1">
                    <IfLastModified age="7d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

    </Appenders>

<Loggers>
    <Root level="info">
        <AppenderRef ref="RollingFile-Info"/>
        <AppenderRef ref="console"/>
    </Root>

    <Logger name="com" level="error">
        <AppenderRef ref="RollingFile-Error"/>
    </Logger>

    <logger name="org.hibernate.SQL" level="debug" additivity="false">
        <AppenderRef ref="RollingFile-Info"/>
        <AppenderRef ref="console"/>
    </logger>
</Loggers>

</Configuration>